<h3>Comments</h3>
{% for com in comments %}
  <div class="comment">
    <p class="com">{{com.comment}}</p>
    <div class="comment-bottom">
      <div class="options">
        <a href="/blog/edit_comment?c={{com.key().id()}}">Edit</a>
        <form action="/blog/delete_comment?c={{com.key().id()}}" method="post">
          <input type="hidden" name="author" value="{{com.author}}">
          <input type="submit" value="Delete">
        </form>
      </div>
      <span class="author">{{com.author}}</span>
    </div>
  </div>
{% endfor %}
