{% extends 'base.html' %}

{% block content %}
<div class="new-post form-section">
  <h2>Edit post</h2>
  <form action="/blog/edit?p={{post_id}}" method="post">
    <label for="">
      <div>Subject</div>
      <input type="text" name="subject" value="{{subject}}">
    </label><br>
    <label for="">
      <div>Content</div>
      <textarea name="content">{{content}}</textarea>
    </label><br>
    <div class="error">{{error}}</div>
    <input type="submit" value="Edit">
  </form>
  <a href="/blog/{{post_id}}">Cancel</a>
</div>
{% endblock %}
