<header class="header">
  <div class="header-container">
    <h1 class="title">
      <a href="/blog">Python Blog</a>
    </h1>
    <ul class="menu">
      <!-- username works as a global variable
      if user is not logged in, username = '' -->
      {% if username %}
        <li class="header-user">{{username}} |</li>
        <li class="create-new"><a href="/blog/newpost">New post</a></li>
        <li class="header-logout"><a href="/blog/logout">Logout</a></li>
      {% else %}
        <a href="/blog/signup" class="header-signup"><li>Signup</li></a>
        <a href="/blog/login" class="header-signin"><li>Login</li></a>
      {% endif %}
    </ul>
  </div>
</header>
