<div class="entry">
  <a href="/blog/{{entry.key().id()}}">
    <div>
      <h5 class="entry-created">{{entry.created}}</h5>
      <h2 class="entry-subject">{{entry.subject}}</h2>
      <p class="entry-content">{{entry.content}}</p>
    </div>
  </a>
  <div class="total-likes">Total likes: {{entry.likes}}</div>
  <div class="entry-bottom">
    <div class="entry-options">
      <!-- edit -->
      <a href="/blog/edit?p={{entry.key().id()}}__a={{entry.author}}" class="edit">Edit</a>
      <!-- delete -->
      <form action="/blog/delete?d={{entry.key().id()}}" method="post">
        <input type="submit" class="delete" value="Delete" />
        <input type="hidden" name="author" value="{{entry.author}}">
      </form>
      <!-- likes -->
      <form action="/blog/like?l={{entry.key().id()}}" method="post">
        <!-- Check if username has liked the post -->
        <!-- Array use brought from
        http://stackoverflow.com/questions/14516766/python-how-to-store-an-array-in-google-app-engine-datastore -->
        {% set liked = [] %}
        {% for u in entry.liked_by %}
          {% if username == u %}
            {% if liked.append(True) %}{% endif %}
          {% endif %}
        {% endfor %}
        {% if liked[0] == True %}
          <input type="submit" class="like" value="Unlike">
        {% else %}
          <input type="submit" class="like" value="Like">
        {% endif %}
      </form>
    </div>
    <span class="entry-author">Written by {{entry.author}}</span>
  </div>
</div>
