<div class="entry">
  <a href="/blog/{{entry.key().id()}}">
    <div>
      <h5 class="entry-created">{{entry.created}}</h5>
      <h2 class="entry-subject">{{entry.subject}}</h2>
      <p class="entry-content">{{entry.content}}</p>
    </div>
  </a>
  <div class="entry-bottom">
    <div class="entry-options">
      <a href="/blog/edit?p={{entry.key().id()}}" class="edit">Edit</a>
      <form action="/blog/delete?d={{entry.key().id()}}" method="post">
        <input type="submit" class="delete" value="Delete" />
      </form>
      <span class="total-likes">Total likes: {{entry.likes}}</span>
      <form action="/blog/like?l={{entry.key().id()}}" method="post">
        <!-- Sends username thanks to username global value -->
        <input type="hidden" name="username" value="{{username}}">
        <input type="submit" class="like" value="Like!">
      </form>
    </div>
    <span class="entry-author">Written by {{entry.author}}</span>
  </div>
</div>
