{% extends "base.html" %}

{% block content %}
<div class="signup form-section">
  <h2>Signup</h2>
  <form action="/blog/signup" method="post">
    <div>Username</div>
      <input type="text" name="username" value="{{user_input}}">
      <div style="color: red">{{user_warn}}</div>
    <br>
    <div>Password</div>
      <input type="password" name="password">
      <div style="color: red">{{pass_warn}}</div>
    <br>
    <div>Verify password</div>
      <input type="password" name="verify">
      <div style="color: red">{{verify_warn}}</div>
    <br>
    <div>Email (optional)</div>
      <input type="text" name="email" value="{{email_input}}">
      <div style="color: red">{{email_warn}}</div>
    <br>
    <input type="submit" value="signup">
  </form>
</div>
{% endblock %}
