<style>
a{
  text-decoration: none;
  color: #33373E;
}
body{
  margin: 0;
  font-family: sans-serif;
  color: #33373E;
  background-color: #ECEAE4;
}

.header{
  width: 100%;
  background-color: white;
}

.header .header-container{
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 0 auto;
  padding: 10px 0;
}

.header .header-container .title{
  margin: 0;
}

.header .header-container .menu{
  margin: 0;
  display: flex;
  list-style-type: none;
}

.container{
  width: 800px;
  margin: 0 auto;
}
</style>
