<style>
a{
  text-decoration: none;
  color: #33373E;
}
body{
  margin: 0;
  padding-bottom: 50px;
  font-family: sans-serif;
  color: #33373E;
  background-color: #ECEAE4;
}
/* Header */
.header{
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
}

.header .header-container{
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 800px;
  margin: 0 auto;
  padding: 10px 0;
}

.header .header-container .title{
  margin: 0;
}

.header .header-container .menu{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.header .header-container .menu{
  margin-top: 10px;
}

.header .header-container .menu a{
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.header .header-container .menu a:hover{
  color: #7FC7AF;
}

.header .header-container .menu li{
  padding-right: 10px;
}



/* --- End Header --- */

/* Main content */
.container{
  box-sizing: border-box;
  width: 800px;
  margin: 0 auto;
}

/* Index */
.entry{
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.entry:hover{
  background-color: #7FC7AF;
}

.entry .entry-subject{
  margin-top: 0;
  font-size: 1.4em;
}

.entry .entry-content{
  line-height: 20px;
}

.entry .entry-created{
  margin: 0 0 10px 0;
  text-align: right;
}
.entry .total-likes{
  margin-bottom: 10px;
}
.entry .entry-bottom{
  display: flex;
  justify-content: space-between;
}
.entry .entry-bottom .entry-options{
  display: flex;
}
.entry .entry-bottom .entry-options a{
  font-size: 0.9em;
  cursor: pointer;
  border: none;
  padding: 5px;
  border-radius: 5px;
  width: 80px;
  margin-right: 5px;
  background-color: #CCCCCC;
  text-align: center;
}

.entry .entry-bottom .entry-options input{
  font-size: 0.9em;
  cursor: pointer;
  border: none;
  padding: 5px;
  border-radius: 5px;
  width: 80px;
  margin-right: 5px;
  background-color: #CCCCCC;
}

.entry .entry-bottom .entry-options .delete{
  background-color: #e5144f;
  color: white;
}

.entry .entry-bottom .entry-author{
  font-style: italic;
}

/* --- Index --- */

/* Post */
.post{
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: white;
}
/* --- Post --- */

/* Form-section */
.form-section{
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: white;
}

.form-section h2{
  margin-top: 0;
}

.form-section form{
  text-align: center;
}

.form-section form div{
  font-weight: bold;
  margin-bottom: 10px;
}

.form-section form input{
  margin-bottom: 10px;
}

.form-section form input[type="submit"]{
  background-color: #7FC7AF;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
  width: 150px;
  cursor: pointer;
  transition: 0.3s;
}

.form-section h3{
  text-align: center;
  font-size: 1em;
}

.form-section a{
  text-align: center;
  font-size: 0.8em;
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  border: none;
  color: white;
  font-weight: bold;
  width: 150px;
  border-radius: 5px;
  background-color: #7FC7AF;
  transition: 0.3s;
  cursor: pointer;
}

.form-section form input[type="submit"]:hover,
.form-section a:hover{
  background-color: #9c43b2;
}

.form-section .red-error{
  color: #E5144F;
}
/* --- Form Section --- */

/* Error */
.error{
  text-align: center;
}

.error h3{
  color: #E5144F;
}

/* --- Error --- */

/* Welcome */
.welcome{
  margin-top: 60px;
  text-align: center;
  color: #7FC7AF;
}
/* --- Welcome --- */

/* Comments */
.comment{
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 15px;
}

.comment .com{
  margin-top: 0;
}

.comment .author{
  margin-bottom: 0;
  text-align: right;
  font-style: italic;
}

.comments-create textarea{
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}
.comments-create input[type="submit"]{
  background-color: #7FC7AF;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
  width: 150px;
  cursor: pointer;
  transition: 0.3s;
}

.comments.create input[type="submit"]:hover{
  background-color: #9c43b2;
}

/* --- Comments --- */
/* MEDIA QUERIES */

@media screen and (max-width: 800px){
  .header .header-container{
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .container{
    width: 100%;
    padding: 0 10px;
  }
}

</style>
